th , td{
    text-align:center;
  }

  a:link {
    color: #FF0000;
  }
  
  /* visited link */
  a:visited {
    color:#8484e2 ;
  }
  
  /* mouse over link */
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }

  h1{
    text-align : center;
    color:blue;
  }
  #id1
  {
    width:100%;
    height:600px;
    border: 1px solid black;
    border-collapse: collapse;
  }

  #id2
  {width:50%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color:rgb(184, 225, 226);
  }
  #tr0,#tr1,#tr2,#tr3,#tr4,#tr5
  {
    
    height:100px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  #tb1
  {
    padding:5px;
    width:40%;
    height:400px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color:rgb(184, 225, 226);
  }
#bt1
{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

#bt2
{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

#bt3
{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

#fd1
{
  width:40%;
  height:400px;
}
#user
{
  background-color: #008CBA;
}